<form
  [formGroup]="form"
  novalidate
>
  <mat-form-field class="full-width">
    <mat-label>{{ 'field.email' | translate }}</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="form.controls.email.hasError('required')">{{ 'error.field.required' | translate }}</mat-error>
    <mat-error *ngIf="form.controls.email.hasError('pattern')">{{ 'error.field.email' | translate }}</mat-error>
  </mat-form-field>

  <p class="mat-body-1">
    {{ 'reset-password.misc.email' | translate }}
  </p>

  <button
    class="full-width"
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    {{ 'btn.reset-password' | translate }}
  </button>
  <button
    class="full-width"
    type="button"
    mat-button
    color="primary"
    (click)="loginPage()"
  >
    {{ 'btn.back' | translate }}
  </button>
</form>

