@import "src/pallete";

$image-width: 200px;
$image-height: 200px;


.preview {
  width: $image-width;
  height: $image-height;
  max-width: $image-width;
  max-height: $image-height;
  object-fit: cover;
  overflow: hidden;
}

.general {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}

.full-width {
  width: 400px;
}
.textarea-full-width {
  width: 400px;
  textarea {
    resize: none;
    height: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
