<div class="container">
  <div class="nav-group">

  </div>
  <div class="nav-messages">
    <div *ngFor="let i of (messages$ | async)" class="mat-body-1 message">
      <div class="message-body">
        <div class="user-ico">
          <img src="/assets/images/user-test.jpg" alt="*" draggable="false">
        </div>
        <div class="message-data">
          <span class="credits">
            <span class="message-sender mat-body-2">{{ this.user?.value?.firstName }} {{ this.user?.value?.lastName }} at 22:06</span>
          </span>
          <textarea autosize class="message-raw mat-body-1" readonly>{{ i }}</textarea>
        </div>
        <div class="message-actions">
          <button
            type="button"
            color="primary"
            mat-icon-button
          >
            <mat-icon>reply</mat-icon>
          </button>
          <button
            type="button"
            color="primary"
            mat-icon-button
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>edit</mat-icon> Edit</button>
            <mat-divider></mat-divider>
            <button mat-menu-item><mat-icon>delete</mat-icon> Delete</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <form
      [formGroup]="form"
      novalidate
    >
      <mat-form-field class="full-width" appearance="standard">
        <textarea autosize matInput formControlName="message" placeholder="Start typing"></textarea>
        <button
          matSuffix
          mat-icon-button
          color="primary"
          type="button"
        >
          <mat-icon>tag_faces</mat-icon>
        </button>
        <button
          matSuffix
          mat-icon-button
          color="primary"
          type="button"
        >
          <mat-icon>mic</mat-icon>
        </button>
        <button
          matSuffix
          mat-icon-button
          color="primary"
          type="button"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
        <button
          matSuffix
          mat-icon-button
          color="primary"
          type="button"
          (click)="send()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div class="nav-users">

  </div>
</div>
