<mat-spinner color="accent" class="spinner" *ngIf="(loading$ | async)"></mat-spinner>
<div class="container">
  <div *ngFor="let g of (groups$ | async)" class="group" (click)="connect(g.id)">
    <div class="image">
      <img src="{{ g.ico }}" alt="*" draggable="false"/>
    </div>
    <div class="info">
      <span class="mat-body-2">{{ g.title }}
        <mat-icon  *ngIf="g.hidden">https</mat-icon>
        <mat-icon  *ngIf="g.ownerId == (user$ | async)?.id">handyman</mat-icon>
      </span>
      <p>Some random text</p>
    </div>
  </div>
</div>
