@import "src/pallete";
$group-size: 50px;

.group {
  display: flex;
  padding: 10px 0;
  width: 100%;
  background-color: map-get($md-primary, 800);
  border-top: 1px solid map-get($md-primary, 400);
  cursor: pointer;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: map-get($md-primary, 900);
  }

  .info {
    span {
      color: map-get($md-primary, 50);
    }

    p {
      color: map-get($md-primary, 100);
    }
  }

  .image {
    margin: 0 20px 0 20px;
    max-width: $group-size;
    max-height: $group-size;
    overflow: hidden;
    border-radius: 50%;

    img {
      max-width: $group-size;
      max-height: $group-size;
      object-fit: cover;
    }
  }
}
