$md-primary: (
  50 : #ffffff,
  100 : #bbbbbb,
  200 : #8d8e8d,
  300 : #5f605f,
  400 : #3d3e3d,
  500 : #1b1c1b,
  600 : #181918,
  700 : #141414,
  800 : #101110,
  900 : #080908,
  A100 : #51ff51,
  A200 : #1eff1e,
  A400 : #00ea00,
  A700 : #00d000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-accent: (
  50 : #e7e7e7,
  100 : #c2c2c2,
  200 : #999a99,
  300 : #707170,
  400 : #525252,
  500 : #333433,
  600 : #2e2f2e,
  700 : #272727,
  800 : #202120,
  900 : #141514,
  A100 : #ef6e6e,
  A200 : #ea4040,
  A400 : #f60000,
  A700 : #dd0000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
